<!{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> Диагностика СПКЯ </title>
	<link rel="stylesheet" href="{% static 'Starts/css/pcos_style_index.css' %}" /> 
</head>
<body>
	<div class="inner">
		<span class="header__subheading"> Федеральное государственное бюджетное научное учреждение</span> 
		<a href="https://health-family.ru/ru/"  target="blank" class="header__logotype"> <img src={% static 'Starts/img/logo.png' %}></a> 
		<span class="header__subheading">Функциональная группа информационных систем и биостатистики</span> 
	</div>
	<nav id="menu"> 
		<ul id="horizontal-multilevel-menu" class="main-navigation inner">
			<li> 
				<a href="/" class="root__item">ИС в ИНЦ ПЗСРЧ</a>
			</li>
			<li> 
				<a href="analysis" class="root__item__selected">Аналитическая работа</a>
			</li>
			<li> 
				<a href="products" class="root__item">Разработки</a>
			</li>
			<li> 
				<a href="contacts" class="root__item">Контакты</a>
			</li>
		</ul>
	</nav>
	<div class="content__sheet">
		<p>
		Методы анализа используются согласно поставленным задачам,
утверждённым в заявках: разведывательный анализа данных (РАД),
описательная статистика, расчет 95%ДИ методом бутстреп-процентилей
для референсных значений, визуализация, проверка статистических
гипотез, подсчет ОШ, ROC-анализ и т.д. 
		</p>
		<ul>
			<li>Тема: Патофизиологические механизмы и генетико-метаболические предикторы
сохранения репродуктивного здоровья и долголетия в различных возрастных,
гендерных и этнических группах</li>
			<li>Тема: Ранняя диагностика и прогнозирование снижение овариального резерва и
метаболических нарушений, связанных с эстрогенным дефицитом у женщин
репродуктивного возраста</li>
			<li>Тема: Технология прогнозирования и профилактики метаболического синдрома,
ассоциированного с гиперандрогенизмом у женщин постменопаузального возраста</li>
			<li>Тема: Технология пациент-ориентированного прогноза и профилактики
метаболических осложнений гиперандрогенизма у женщин репродуктивного
возраста на основе оценки молекулярных маркеров нарушений микробиома
пищеварительного тракта</li>
		</ul>
	</div>
</body>
</html>