<!{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> Главная - Функциональная группа информационных систем и биостатистики </title>
	<link rel="stylesheet" href="{% static 'Starts/css/pcos_style_index.css' %}" /> 
</head>
<body>
	<div class="inner">
		<span class="header__subheading">Федеральное государственное бюджетное научное учреждение</span> 
		<a href="https://health-family.ru/ru/" target="blank" class="header__logotype"> <img src={% static 'Starts/img/logo.png' %}></a> 
		<span class="header__subheading">Функциональная группа информационных систем и биостатистики</span> 
	</div>
	<nav id="menu"> 
		<ul id="horizontal-multilevel-menu" class="main-navigation inner">
			<li> 
				<a href="/" class="root__item__selected">ИС в ИНЦ ПЗСРЧ</a>
			</li>
			<li> 
				<a href="analysis" class="root__item">Аналитическая работа</a>
			</li>
			<li> 
				<a href="products" class="root__item">Разработки</a>
			</li>
			<li> 
				<a href="contacts" class="root__item">Контакты</a>
			</li>
		</ul>
	</nav>
	<div class="content__sheet">
		<p>Одним из направлений деятельности функциональной группы является обеспечение функционирования и администрирование
		   специализированных информационных систем для поддержки основных направлений научной и образовательной деятельности 
		   ФГБНУ НЦ ПЗСРЧ (REDCap, Moodle, BBB);
		</p>
		<ul>
			<li>REDCap: Обновление до актуальных версии ( проводилась до апреля 2022), регулярное резервное копирование, администрирование проектов, прав пользователей разных уровней. В настоящее время созданы 63 проекта в разной степени развития. Администрирование всех проектов и пользователей всех уровней доступа осуществляется постоянно в рабочем режиме.</li>
			<li>Moodle: установка SSL сертификата (1 раз в 3 месяца), поддержка и создание аккаунтов пользователей, обучающихся по ординатуре (по запросу)</li>
			<li>BigBlueButton: Поддержка работоспособности, обновление Создание аккаунтов пользователей, администрирование</li>
		</ul>
		<p>Помимо поддержки информационных осуществляется разработка программных продуктов и программных средств для
автоматизации аналитической работы и процессов диагностики и
принятия врачебных решений.
		</p>
	</div>
</body>
</html>