<!{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> Диагностика СПКЯ </title>
	<link rel="stylesheet" href="{% static 'css/pcos_style_index.css' %}" /> 
</head>
<body>
	<div class="inner">
		<span class="header__subheading"> Федеральное государственное бюджетное научное учреждение</span> 
		<a href="https://health-family.ru/ru/"  target="blank" class="header__logotype"> <img src={% static 'img/logo.png' %}></a> 
	</div>
	<nav id="menu"> 
		<ul id="horizontal-multilevel-menu" class="main-navigation inner">
			<li> 
				<a href="/" class="root__item">Об СПКЯ</a>
			</li>
			<li> 
				<a href="selfdiagnostics" class="root__item">Самодиагностика</a>
			</li>
			<li> 
				<a href="contacts" class="root__item__selected">Контакты</a>
			</li>
			<li> 
				<a href="login_user" class="root__item">Работа с данными</a>
			</li>
		</ul>
	</nav>
	<div class="content__sheet">
		<p>

			<h3>Федеральное государственное бюджетное научное учреждение «Научный центр проблем здоровья семьи и репродукции человека»</h3>
<p>Юридический и фактический адрес: 664003 г. Иркутск, ул. Тимирязева, 16
	<br>
Телефон / факс приёмной директора: (3952) 20-73-67, 20-76-36
<br>
Телефон регистратуры Центра инновационной медицины: (3952) 718-714
<br>
E-mail:
<a href="mailto:iphr@sbamsr.irk.ru">iphr@sbamsr.irk.ru</a>
</p>
<h3>
Клиника ФГБНУ НЦ ПЗСРЧ</h3>
<p>Юридический и фактический адрес: 664000 г.Иркутск, ул.Дальневосточная, 67А
	<br>
Телефон приёмной: (3952) 24-68-21
<br>
E-mail:
<a href="mailto:clinica@irk.ru">clinica@irk.ru</a>
</p>


Запрос, в котором формулируется его тема, список интересующих вопросов, следует направить на официальном бланке за подписью ответственного руководителя с указанием контактных данных исполнителя.
		</p>
	</div>

</body>
</html>