<!{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> Диагностика СПКЯ </title>
	<link rel="stylesheet" href="{% static 'css/pcos_style_index.css' %}" /> 
</head>
<body>
	<div class="inner">
		<span class="header__subheading"> Федеральное государственное бюджетное научное учреждение</span> 
		<a href="https://health-family.ru/ru/" target="blank" class="header__logotype"> <img src={% static 'img/logo.png' %}></a> 
	</div>
	<nav id="menu"> 
		<ul id="horizontal-multilevel-menu" class="main-navigation inner">
			<li> 
				<a href="/" class="root__item__selected">Об СПКЯ</a>
			</li>
			<li> 
				<a href="selfdiagnostics" class="root__item">Самодиагностика</a>
			</li>
			<li> 
				<a href="contacts" class="root__item">Контакты</a>
			</li>
			<li> 
				<a href="login_user" class="root__item">Работа с данными</a>
			</li>
		</ul>
	</nav>
	<div class="content__sheet">
		<p>Синдром поликистозных яичников (СПКЯ, известный также как синдром Штейна—Левенталя) — полиэндокринный синдром, сопровождающийся нарушениями функции яичников (отсутствием или нерегулярностью овуляции, повышенной секрецией андрогенов и эстрогенов), поджелудочной железы (гиперсекреция инсулина), коры надпочечников (гиперсекреция надпочечниковых андрогенов), гипоталамуса и гипофиза.
		Существуют два наиболее употребительных в клинической практике определения синдрома поликистозных яичников.</p>

		<p>Первое определение выработано в 1990 году консенсусом экспертной комиссии, сформированной Американским Национальным институтом здравоохранения (NIH). Согласно этому определению, пациентке должен быть поставлен диагноз поликистоза яичников, если у неё одновременно присутствуют:

		<ul>
			<li>Симптомы избыточной активности или избыточной секреции андрогенов (клинические и/или биохимические);</li>
			<li>Олигоовуляция или ановуляция.</li>
		</ul>
		и если при этом исключены другие причины, способные вызывать поликистоз яичников.</p>

		<p>Второе определение сформулировано в 2003 году консенсусом европейских экспертов, сформированным в Роттердаме[3]. По этому определению, диагноз ставится, если у пациентки присутствуют одновременно любые два из трёх следующих признаков:

		<ul>
			<li>Симптомы избыточной активности или избыточной секреции андрогенов (клинические или биохимические);</li>
			<li>Олигоовуляция или ановуляция;</li>
		</ul>
		Поликистозные яичники при ультразвуковом исследовании органов брюшной полости
		и если при этом исключены другие причины, способные вызывать поликистоз яичников.</p>

		<p>Роттердамское определение значительно шире и включает в группу страдающих этим синдромом значительно больше пациенток. В частности, оно включает в себя и пациенток без клинических или биохимических признаков избытка андрогенов (поскольку обязательными являются любые два из трёх признаков, а не все три), в то время как в американском определении избыточная секреция или избыточная активность андрогенов является обязательным условием для диагноза поликистоза яичников. Критики Роттердамского определения утверждают, что находки, полученные при изучении пациенток с избытком андрогенов, не обязательно могут быть экстраполированы на пациенток без симптомов избытка андрогенов[4][5]. </p>
		<p>Хотя при ультразвуковом обследовании брюшной полости яичники, выглядящие как поликистозные, обнаруживаются у до 20 % женщин репродуктивного возраста (в том числе и не предъявляющих никаких жалоб), лишь у 5-10 % женщин репродуктивного возраста обнаруживаются клинические признаки, позволяющие ставить диагноз синдрома поликистозных яичников. Синдром поликистозных яичников одинаково распространён в разных этнических группах. Он является наиболее частым гормональным расстройством у женщин детородного возраста и одной из ведущих причин женского бесплодия.</p>
		<p>Точные причины развития синдрома неизвестны, однако большое значение придается патологическому снижению инсулин-чувствительности периферических тканей, прежде всего жировой и мышечной ткани (развитию их инсулинорезистентности) при сохранении инсулин-чувствительности ткани яичников. Возможна также ситуация патологически повышенной инсулин-чувствительности ткани яичников при сохранении нормальной чувствительности к инсулину периферических тканей.</p>

		<p>В первом случае, как следствие инсулинорезистентности организма, возникает компенсаторная гиперсекреция инсулина, приводящая к развитию гиперинсулинемии. А патологически повышенный уровень инсулина в крови приводит к гиперстимуляции яичников и повышению секреции яичниками андрогенов и эстрогенов и нарушению овуляции, поскольку яичники сохраняют нормальную чувствительность к инсулину.</p>

		<p>Во втором случае уровень инсулина в крови нормален, однако реакция яичников на стимуляцию нормальным уровнем инсулина патологически повышена, что приводит к тому же самому результату — гиперсекреции яичниками андрогенов и эстрогенов и нарушению овуляции.</p>

		<p>Патологическая инсулинорезистентность тканей, гиперинсулинемия и гиперсекреция инсулина при поликистозе яичников часто (но не всегда) бывают следствием ожирения или избыточной массы тела. Вместе с тем эти явления и сами могут приводить к ожирению, так как эффектами инсулина являются повышение аппетита, повышение отложения жира и уменьшение его мобилизации.</p>

		<p>В патогенезе поликистоза яичников придают значение также нарушениям регулирующих гипоталамо-гипофизарных влияний: избыточной секреции ЛГ, аномально повышенному соотношению ЛГ/ФСГ, повышенному «опиоидергическому» [8][9] и пониженному дофаминергическому [10][11][12] тонусу в системе гипоталамус-гипофиз. Состояние может отягощаться и труднее поддаваться лечению при наличии сопутствующей гиперпролактинемии, субклинической или клинически выраженной недостаточности щитовидной железы. Такие сочетания встречаются у этих женщин значительно чаще, чем в общей популяции, что может говорить о полиэндокринной или полиэтиологической природе синдрома Штейна-Левенталя.</p>

		<p>Некоторые исследователи придают значение повышенному уровню простагландинов и других медиаторов воспаления в текальной ткани яичников и в фолликулярной жидкости у больных поликистозом яичников и считают, что в патогенезе синдрома поликистозных яичников может играть роль возникающее по невыясненным пока причинам «холодное», асептическое воспаление ткани яичников, перенесённые воспалительные заболевания женской половой сферы или аутоиммунные механизмы. Известно, что введение простагландина E1 в яичник или в питающий его сосуд вызывает у лабораторных крыс значительное повышение секреции андрогенов и эстрогенов тека-тканью яичника.</p>
	</div>
</body>
</html>