<!{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> Диагностика СПКЯ </title>
	<link rel="stylesheet" href="{% static 'css/pcos_style_index.css' %}" /> 
</head>
<body>
	<div class="inner">
		<span class="header__subheading"> Федеральное государственное бюджетное научное учреждение</span> 
		<a href="https://health-family.ru/ru/"  target="blank" class="header__logotype"> <img src={% static 'img/logo.png' %}></a> 
	</div>
	<nav id="menu"> 
		<ul id="horizontal-multilevel-menu" class="main-navigation inner">
			<li> 
				<a href="/" class="root__item">Об СПКЯ</a>
			</li>
			<li> 
				<a href="selfdiagnostics" class="root__item__selected">Самодиагностика</a>
			</li>
			<li> 
				<a href="contacts" class="root__item">Контакты</a>
			</li>
			<li> 
				<a href="login_user" class="root__item">Работа с данными</a>
			</li>
		</ul>
	</nav>
	<div class="content__sheet">
		<p>
		Общие симптомы поликистоза яичников следующие:
			<ul>
				<li>Олигоменорея, аменорея — нерегулярные, редкие менструации или полное отсутствие менструаций; те менструации, которые всё же происходят, могут быть патологически скудными или, напротив, чрезмерно обильными, а также болезненными;</li>
				<li>Бесплодие, обычно являющееся результатом хронической ановуляции или олигоовуляции (полного отсутствия овуляций либо овуляция происходит не в каждом цикле);</li>
				<li>Повышенные уровни в крови андрогенов (мужских гормонов), в особенности свободных фракций тестостерона, андростендиона и дегидроэпиандростерона сульфата, что вызывает гирсутизм и иногда маскулинизацию[6];</li>
				<li>Центральное ожирение — «паукообразное» или «в форме яблока» ожирение по мужскому типу, при котором основная масса жировой ткани концентрируется внизу живота и в брюшной полости;</li>
				<li>Андрогенная алопеция (существенное облысение или выпадение волос по мужскому типу с залысинами по бокам лба, на макушке, происходящее из-за нарушения гормонального баланса);</li>
				<li>Угревая сыпь, жирная кожа, себорея;</li>
				<li>Акантоз (тёмные пигментные пятна на коже, от светло-бежевого до тёмно-коричневого или чёрного);</li>
				<li>Акрохордоны (кожные складки) — мелкие складки и морщинки кожи;</li>
				<li>Появление стрий (полос растяжения) на коже живота, бёдер, ягодиц, в результате быстрой прибавки массы тела на фоне гормонального дисбаланса;</li>
				<li>Длительные периоды симптомов, напоминающих симптомы предменструального синдрома (отёки, колебания настроения, боль внизу живота, в пояснице, боли или набухание молочных желёз);</li>
				<li>Ночные апноэ — остановки дыхания во сне, приводящие к частым ночным пробуждениям больной;</li>
				<li>Депрессия, дисфория (раздражительность, нервозность, агрессивность), нередко сонливость, вялость, апатия, жалобы на «туман в голове».</li>
				<li>Множественные кисты яичников. Сонографически они могут выглядеть как «жемчужное ожерелье», скопление белёсых пузырьков или «косточки фрукта», рассеянные по всей ткани яичников;</li>
				<li>Увеличение размеров яичников в 1,5—3 раза за счёт возникновения множества мелких кист;</li>
				<li>Утолщённая, гладкая, жемчужно-белая наружная поверхность (капсула) яичников;</li>
				<li>Утолщённый, гиперплазированный эндометрий матки — результат длительного избытка эстрогенов, не сбалансированного адекватными прогестероновыми влияниями;</li>
				<li>Хроническая боль внизу живота или в пояснице, в тазовой области, вероятно вследствие сдавления органов малого таза увеличенными яичниками или вследствие гиперсекреции простагландинов в яичниках и эндометрии; точная причина хронической боли при поликистозе яичников неизвестна;</li>
				<li>Повышенный уровень ЛГ или повышенное соотношение ЛГ/ФСГ: при измерении на 3-й день менструального цикла соотношение ЛГ/ФСГ оказывается больше 1:1;</li>
				<li>Пониженный уровень глобулина, связывающего половые стероиды;</li>
				<li>Гиперинсулинемия (повышенный уровень инсулина в крови), нарушение толерантности к глюкозе, признаки инсулинорезистентности тканей при тестировании по методу сахарной кривой[7].</li>
			</ul>
		</p>
	</div>
</body>
</html>